@import url(../../index.css);

.form {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
    column-gap: 0px;
    row-gap: 0px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 500px;
    height: 500px;
}

.submit {
    border: 0;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    color: var(--lt0);
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

.submit:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--lt1);
    box-shadow: 0px 0px 3px 1px var(--lt4);
    backdrop-filter: 3;
}

h1.formLabel {
    display: flex;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    color: var(--lt0);
    border-radius: 10px;
    justify-content: center;

}

div.formField {
    display: grid;
    margin: 20px;
    justify-content: center;
    border-radius: 10px;
}

.credInput {
    border: 0;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    outline: none;
    box-shadow: 0px 0px 5px 2px var(--lt2);
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgb(255, 255, 255, 0.6), rgb(255, 255, 255, 0.9));
    color: var(--lt5);

}

.credInput:focus {
    border: 0 !important;
    border: 2px solid var(--lt5) !important;

    width: 200px;
    height: 50px;
}


.label {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;

    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    color: var(--lt0);
}

.Intro {
    border-radius: 10px;

    color: white;
    padding: 100px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: fit-content;

    & h1 {
        position: absolute;
        background: none;
        width: auto;
        height: auto;
        color: white;
        font-size: xx-large;
        font-family: fantasy;
        text-shadow: 1px 1px 2px black;
    }
}

ul {
    list-style: none;
}

h3 {
    color: rgb(228, 224, 224);
    text-decoration: solid;
    font-family: fantasy;
    text-shadow: 1px 1px 2px black;
    animation: rotateWords 9s ease-in-out infinite;
    position: absolute;

    white-space: nowrap;

    opacity: 0;

    &:nth-child(2) {
        animation-delay: 3s;
    }

    &:nth-child(3) {
        animation-delay: 6s;
    }
}

@keyframes rotateWords {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    7%,
    24% {
        opacity: 1;
        transform: translateX(0);
    }

    43%,
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.row {
    display: flex;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

.loginField {
    background-color: rgba(50, 200, 255, 0.2);
    backdrop-filter: blur(100);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    z-index: 1;
}