:root {
  --lt0: rgb(255, 255, 255);
  --lt1: rgb(202, 241, 255);
  --lt2: rgb(151, 227, 255);
  --lt3: rgb(101, 214, 255);
  --lt4: rgb(50, 200, 255);
  --lt5: rgb(0, 187, 255);
}

body {
  display: inherit;
  height: inherit;
  width: inherit;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: black;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}