:root {
  --lt0: #ffffff;
  --lt1: #caf1ff;
  --lt2: #97e3ff;
  --lt3: #65d6ff;
  --lt4: #32c8ff;
  --lt5: #00bbff;
}

body {
  display: inherit;
  height: inherit;
  width: inherit;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html {
  display: flex;
  background-color: var(--lt2);
  height: 100%;
  width: 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}